/* Color reference
color : #A3CFCD  ,  #82A0AA  ,  #677381  ,  #4B4A54  ,  #2A272A  ,  #000000


*/

body {
  font-family: "Montserrat";
  text-align: center;
  font-size: 18px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat Alternates', sans-serif;
}
h3 {
  color: #4B4A54;
}

.title p{
  font-size: 1.2rem;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}


/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFE3F1;
}
.navbar-nav {
  color: #FFE3F1;
}


.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
  color :#FFE3F1;
}

/* Title Section */

#title {
  text-align: left;
  color: #FFE3F1;
}


/* Features Section */

#features {
  position: relative;
}
#features p {
  color: #677381;
}

.feature-title {
  font-size: 1.5rem;
  font-family: "Stylish", sans-serif;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: darkorange;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #4B4A54
}

/* Testimonial Section */

.testimonial-text {
  font-size: 1.3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
  #press {
    background-color: #ef8172;
    padding-bottom: 3%;
  }

  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }

  /* Pricing Section */

#pricing {
  padding: 100px;
}
#pricing  p{
  color: #4B4A54;
}
#pricing h2 {
  color: #2A272A;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


