.orders-order {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.orders-order .number {
  width: 60px !important;
}
.orders-order-actions * {
  margin: 0 3px;
}

.products .form-control, .orders .form-control {
  display: initial;
  margin-top: 0;
}

.right {
  margin-top: 20px;
  float: right;
  height: 500px;
  width: 48%;
  border-color: black;
}

.left {
  margin-top: 20px;
  float: left;
  height: 500px;
  width: 48%;
  border-color: black;
}

.well-form {
  margin: 20px 10px 10px 10px;
  border-color: black;
}

.products {
  display: flex;
  justify-content: space-between;
}
.products input {
  width: 60px !important;
}

.form-control {
  margin-top: 20px;
}