<header class="bg-dark bg-transparent pt-5 pb-0">
  <nav class="navbar navbar-dark bg-transparent navbar-expand-lg p-md-0 p-3">
    <div class="container px-0">
      <a href="index.html" class="navbar-brand" id="navLogo">Ryle's Kitchen</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsiveMedium" aria-controls="navbarResponsiveMedium" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarResponsiveMedium">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link disabled">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#testimonials" class="nav-link">Testimonials</a>
          </li>
          <li class="nav-item">
            <a href="contact.html" class="nav-link" >Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  
</header>