<div class="container px-0 pb-5">
     <div class="container px-0"> 
      <div class="row flex-lg-row-reverse align-items-center title g-5 pb-5 m-0">
          <div class="col-lg-6 mt-3">

            <div id="carouselDark" class="carousel slide carousel-dark" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                <li data-bs-target="#carouselDark" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselDark" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselDark" data-bs-slide-to="2"></li>
                <li data-bs-target="#carouselDark" data-bs-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/rylesLogoFinal.png" alt="First slide" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/cake3.jpg" alt="Second slide" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/cake4.jpg" alt="Third slide" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/cake5.jpg" alt="Fourth slide" class="d-block w-100">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
              </div>
              <a href="#carouselDark" class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a href="#carouselDark" class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>

          </div>

          <div class="col-lg-6 ps-lg-0">
  
            <h1 class="display-5 fw-bold 1h-1 mb-3 ">Live the sweet life!</h1>
            <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi fugiat provident eius aliquam esse, reprehenderit modi, voluptatem ex atque repudiandae ea nihil impedit libero, natus expedita! Velit natus sed quidem?</p>

            <div class="button-title pt-5">
            <a class="btn btn-outline-light btn-lg me-2" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScroll" aria-controls="offcanvasScroll" id="faqs">How it works!</a>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasScroll" aria-labelledby="offcanvasScrollLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title text-primary" id="offcanvasScrollLabel">FAQ</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body text-dark">
                <p><strong>1.</strong> Click quote now and fill up your order. <br><strong>2.</strong> Find some pics for the design of your cake (or select one directly from my page. <br><strong>3.</strong> Let us know if you'd like a birthday topper ordered for your cakes or what you would like the cupcakes topped with. <br><strong> 4. </strong>For cupcakes choose your base and buttercream flavours. <br> <strong> 5. </strong>Pick a date and time to collect. <br><strong> 6. </strong>Send us a direct message and submit the form and we will contact you!</p>   <br>
                <h5 class="offcanvas-title text-primary" id="offcanvasScrollLabel">Important Notes for cakes:</h5><br>
                <p>Cakes birthday topper = $3.00</p>
                <p>Tiered Cakes have a $30.00 stacking fee.</p>
                <p>All prices stated applies only to standard cakes.</p>
                <p>Extra decorating fee may apply.</p><br>
                <h5 class="offcanvas-title text-primary" id="offcanvasScrollLabel">Important Notes for Cupcakes and Brownies:</h5><br> 
                <p>Cupcakes and brownies minimum order is 6pcs</p>
                <p>Word Topper for cupcakes = 0.50 Each</p>
                <p>Picture Topper = $1.00 Each</p>
                <p>Fondant Topper = $4.00 Each</p>

              </div>
                         
            </div>
            
            <a class="btn btn-outline-light btn-lg" href="#pricing">Quote Now</a>
            </div>

          </div>

        </div>
      </div>
    </div>