<!DOCTYPE html>
<html lang="en">
 {% include head.html %}
<body>

<!-- Nav Bar -->
  {% include header.html %}

<! -- TEST ---------------->

    {{ content }}


  <!-- Footer -->
 {% include footer.html %}


  <script src="js/cakeProduct.js"></script>
  <script src="js/cupCakeProduct.js"></script>
  <script src="js/sizePrice.js"></script>
  <script src="js/cCakeCream.js"></script>
  <script src="js/browniesPackage.js"></script>
  <script src="js/browniesProduct.js"></script>
  

</body>
</html>